<div class="container">
  <div class="container" id="body">
    <app-header></app-header>
    <app-landing-page></app-landing-page>
    <!-- <app-list-user-component></app-list-user-component> -->
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
<!-- {{x}} -->
<!-- <img [src]="path" alt=""> -->
<!--  si on veux que le path soit dynamique et on oeut le changer a partir du ts on utilise cette facon -->
<!-- <img src={{path}} alt=""> -->
<!-- <input type="text" value={{x}}> -->
<!-- text2 : {{x}}<input type="text" [(ngModel)]="x"> -->
<!-- le valeur de x change a chaque fois que j'ecrit une nouvelle valeur >> c'esyt grace a ngModel -->